.container {
    margin-inline: 400px;
    
}
.form {
    padding-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    button {
        padding: 20px 30px;
        font-size: 18px;
        border-radius:10px;
        border:none; 
        background-color: #0063b1;
        opacity: 0.5;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: #0063b1;
            opacity: 1;
            
        }
    }
    .orderDetail {
        margin-top: 30px;
        flex: 45%
    }
}
