.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 102px;
    background: rgba(242, 242, 242, 0.85);
    backdrop-filter: blur(8px);
    padding-inline: max(15px, 50% - 850px);    
    position: fixed;
    border-bottom: #c8c8c8 1px solid;
    top: 0;
    z-index: 999;

    &__logo{

    }

    &__main-nav {
        
        
    }   
    
    &__list {
        display: flex;
        gap: 120px;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 20px;
        font-weight: 500;
    }

    &__secondary-nav {
        ul {
            list-style: none;
            display: flex;
            gap: 35px;
        }
    }
    
    .icon {
        font-size: 25px;
    }
}
