Footer {
    background-color: #1F1F1F;
    display: flex;
    gap: 68px;
    height: 550px;
    h2 {
        color: #fff;
        font-size: 30px;
        font-weight: 400;
    }
    div {
        margin-top:35px;
    }
    div:first-child {
        margin-left: 110px;
    }
    ul {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        a, li {
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            list-style: none;
        }
    }
    .info {
        h2{
            font-size: 42px;
            margin-bottom: 45px;
        }
        h3 {
            color: #fff;
        }
        .fill {
            position: relative;
            input {
                width: 350px;;
                height: 50px;
                margin-bottom: 30px;
                border-radius: 15px;
                font-size: 18px;
                padding-left: 15px;
                background-color: #8E8E8E;
                color: #fff;
                &::placeholder {
                    color: #fff;
               }
            }
            .icon {
                position: absolute;
                right: 180px;
                font-size: 20px;
                color: #fff;
                margin: 17px 0 10px 0;
                transform: rotate(90deg);
            }
            h3 {
                font-size: 22px;
                color: #fff;
            }
            li {
                list-style: circle;
                font-size: 16px;
            }
            img {
                margin-top: 30px;
                border-radius: 10px;
            }

            
        }
        

    }
}