.container {
    margin-top: 102px;
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            display: block;
            width: 100%;
        }
        h1 {
            position: absolute;
            color: #fff;
            font-size: 60px;
        }
    }
    .sort {
        display: flex;
        justify-content: flex-end;
        margin-right: 110px;
        margin-bottom: 50px;
    }

    .path {
        margin-inline: 110px;
        margin-top: 100px;
        margin-bottom: 150px;
        font-size: 48px;
        display: flex;
        text-transform: uppercase;
        gap: 10px;
        a {
            color: #000;
            &:hover {
                font-weight: 500;
            }
        }
    }

    .productslist {
        display: flex;
        flex-wrap: wrap;
        margin-inline: 110px;
        margin-bottom: 150px;
        column-gap: 15px;
        row-gap: 130px;
        .wrapper {
            position: relative;
            width: 550px;
            height: 550px;
            overflow: hidden;
            border-radius: 20px;
            .btn {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translate(-50%);
                width: 150px;
                height: 50px;
                background-color: #fff;
                border: 2px solid #fff;
                border-radius: 18px;
                font-size: 18px;
                font-weight: 400;
                visibility: hidden;
                opacity: 0;
                z-index: 10;
                transition: 
                    opacity 0.4s ease,
                    transform 0.4s ease;
            }
            img {
                transition: transform 0.9s;
                z-index: 5;
            }
            
            &:hover img {
                    transform: scale(1.1);
            }
                
            &:hover {
                .btn {
                    opacity: 1;
                    visibility: visible;
                    &:hover {
                        background-color: #000;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
        h3 {
            font-size: 27px;
            font-weight: 500;
        }
        p {
            font-size: 24px;
            font-weight: 400;
        }
    }
}