.container {
    margin-top: 102px;
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            display: block;
            width: 100%;
        }
        h1 {
            position: absolute;
            font-size: 60px;
            color: #fff;

        }
    }
    h1 {
        margin: 140px 0 140px 140px;
        font-size: 80px;
    }
    .category {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        margin-bottom: 350px;
        margin-inline: 220px;
        gap:70px;
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                .imageWrapper{
                    height: 600px;
                    width: 600px;
                    overflow: hidden;
                    border-radius: 20px;
                    margin-bottom: 20px;
                }
            
                img {
                    width: 600px;
                    height: auto;
                    margin-bottom: 20px;
                    transition: transform 0.9s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
           
            
        }
        
    }
}