.container {
    margin-top: 102px;
    .banner {
        background: url('https://res.cloudinary.com/drrao1nzd/image/upload/v1770301244/nab_coffee/products/main/uqx7jeunz3lonjaoztai.jpg') top center / cover no-repeat;;
        height: 1080px;
        position: relative;
        
        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 60px;
            color: #fff;

        }
    }
}