.container {
    margin-top: 102px;
    .banner {
        background: url('https://res.cloudinary.com/drrao1nzd/image/upload/v1770301244/nab_coffee/products/main/uqx7jeunz3lonjaoztai.jpg') top center / cover no-repeat;;
        height: 1080px;
        position: relative;
        
        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 60px;
            color: #fff;

        }
    }
    h1 {
        margin-top: 140px;
        margin-left: 140px;
        font-size: 80px;
    }
    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 350px;
        gap: 250px;
        
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                .imageWrapper{
                    height: 600px;
                    width: 600px;
                    overflow: hidden;
                    border-radius: 20px;
                    margin-bottom: 20px;
                }
            
                img {
                    width: 600px;
                    height: auto;
                    margin-bottom: 20px;
                    transition: transform 0.9s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
           
            
        }
        
    }
}